.schedule-form {
  height: 15rem;
  padding-top: 0.6rem;
  padding-bottom: 0rem;
}
.label-select {
  margin: 0rem;
}
.form-group {
  margin: 0rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.form-control {
  margin-bottom: 0.4rem;
}
.btn-form {
  position: relative;
  padding-bottom: 0rem;
}
