.covidform {
  position: absolute;
  z-index: 999;
  height: 45rem;
  width: 43rem;
  border-radius: 2rem;
  border-width: 0rem;
  border-style: hidden;
  background-color: #f0ebf8;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.covidform-box {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
