.list-box {
  position: relative;
  padding: 1rem;
  height: 13.2rem;
}
.schedule-form-box {
  height: 14.9rem;
}
.no-schedule-info {
  display: flex;
  justify-content: center;
  padding-top: 4.4rem;
  color: rgb(218, 218, 218);
  font-size: x-large;
  font-weight: bold;
}
.btn-add-schedule {
  position: relative;
  bottom: 0px;
}
