.carousel-box {
  background-color: #a58af5;
}

.friend-day-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
  padding-top: 1rem;
  color: white;
}
.friend-day-schedule-box {
  position: relative;
  display: flex;
  justify-content: center;
  height: 18rem;
  width: 18rem;
  color: white;
}
.friend-no-schedule-info {
  position: relative;
  top: 6.3rem;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: bold;
}
