.friendcard-box {
  position: relative;
  padding: 1rem;
  width: 100%;
  border-width: 0rem;
  border-radius: 0.3rem;
}
.friendcard-box:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.06);
}

.friendcard-username {
  font-size: large;
  padding: 0.6rem;
}

.image-size {
  width: 8rem;
}
.addfriend-input-box {
  width: 20%;
}
.friend-card-btn-box {
  position: relative;
}
.friendcard-btn {
  display: flex;
  justify-content: center;
  width: 15rem;
}

.remove-friend-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
