.friendcard-box {
  padding: 1rem;
  width: 100%;
}
.friendcard-username {
  font-size: x-large;
  padding: 0.6rem;
}

.image-size {
  width: 8rem;
}
.addfriend-input-box {
  width: 20%;
}
.friend-card-btn-box {
  position: relative;
  bottom: 0rem;
}
