.friendcard-box {
  position: relative;
  background-color: white;
  padding: 1rem;
  width: 18rem;
  border-width: 0rem;
  border-radius: 0.3rem;
}
.friendcard-box:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.06);
}

.friendcard-username {
  font-size: large;
  padding: 0.6rem;
}

.image-size {
  width: 5rem;
  height: 5rem;
}
.addfriend-input-box {
  width: 20%;
}
.friend-card-btn-box {
  position: relative;
}
.friendcard-btn {
  display: flex;
  justify-content: center;
  width: 15rem;
}

.remove-friend-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

.popup-screen-container {
  padding: 0rem;
  position: relative;
  height: 10rem;
  width: 20rem;
}
.popup-screen-close-btn {
  position: relative;
  top: -1em;
  left: 19rem;
}
.popup-screen-btn {
  position: relative;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2.5rem;
  margin: 2rem;
}
