#mainNav {
  position: fixed;
  z-index: 998;
  width: 100%;
  top: 0rem;
  height: 3.5rem;
}
#logo {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bolder;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}
