#mainNav {
  background-color: rgb(232, 255, 79);
}
#logo {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bold;
}

.avatar {
  width: 17%;
  height: auto;
  padding-right: 5px;
}
.username {
  color: black;
  font-style: italic;
  font-size: 1.5rem;
}
