.landing {
  min-height: 100vh;
  background-image: url("../assets/landingbg.jpg");
  background-size: cover;
}
.navbar h1 {
  margin: 0;
  color: white;
}
.navbar {
  display: flex;
  padding: 1rem 4rem;
  align-items: center;
  justify-content: space-between;
}

.body {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 5%;
}
.body-content {
  width: 60%;
  color: white;
  font-size: large;
}
.learn-more-btn {
  display: flex;
  justify-content: center;
}
