.matchuser-container {
  position: relative;
  transition: matchedbox 2s ease-in-out;
}
@keyframes matchedbox {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}

.matched-close-btn {
  position: absolute;
  top: -1rem;
  right: -1rem;
}
.matchuser-image {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}
.matchuser-name {
  font-weight: medium;
  font-size: large;
}
