#match-box {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.match-form-box {
  position: relative;
  padding: 1rem;
}
.match-form-container {
  position: relative;
  width: 17rem;
  height: 22rem;
}
.form-sizing {
  width: 15rem;
}
.location-input {
  padding-left: 1rem;
  width: 15rem;
  height: 2.5rem;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.2rem;
  border-color: #ced4da;
}
.selection-box {
  position: relative;
  background-color: white;
  color: black;
  z-index: 999;
}
.listOfSuggestion {
  margin-bottom: 0.2rem;
}
.listOfSuggestion:hover {
  cursor: pointer;
  background-color: #f8f9fa;
}
.match-btn {
  position: absolute;
  bottom: 0rem;
}
