.matchuser-container {
  position: relative;
  width: auto;
  transition: expandbox 4s;
}

@keyframes expandbox {
  0% {
    width: 0;
  }
  100% {
    width: auto;
  }
}

.matched-wd {
  color: white;
}

.matched-close-btn {
  position: absolute;
  top: -1rem;
  right: -1rem;
}
.matchuser-image {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
}
.matchuser-name {
  font-weight: medium;
  font-size: large;
}
