#match-box {
  display: flex;
  justify-content: center;
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 8rem;
  padding-top: 7rem;
  background-color: white;
}
.match-form-box {
  padding: 2rem;
  width: 30%;
}
