.messenger-box {
  position: fixed;
  top: 5rem;
  right: 1.4rem;
  z-index: 999;
  background-color: white;
  width: 20rem;
  border-radius: 0.4rem;
}

.messenger-friendlist-box {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  height: auto;
  margin: 0.5rem;
}
