#middleSection-box {
  position: relative;
  width: 48%;
  margin-left: 0rem;
  margin-right: 0rem;
  padding-top: 2rem;
  padding-left: 0rem;
  padding-right: 0rem;
}
.profile-name {
  font-weight: inherit;
  font-size: larger;
}
