.schedule-container {
  background-color: #a58af5;
  color: white;
}
.schedule-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  font-weight: inherit;
  font-size: 1.5rem;
}

.day {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 1.7em;
  font-weight: inherit;
  margin-bottom: 0.3rem;
}

.schedule-box {
  padding-left: auto;
  padding-right: auto;
  width: 20rem;
  height: 15rem;
  background-color: white;
  color: black;
}

.schedule-box:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}
