.schedule-container {
  background-color: #a58af5;
  color: white;
}
.schedule-title {
  font-style: italic;
  font-weight: inherit;
  font-size: 2rem;
}

.day-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5rem;
  height: 6.5rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.day {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  color: #9fe0ee;
  font-size: 1.7em;
  font-weight: bold;
}

.schedule-box {
  padding-left: auto;
  padding-right: auto;
  width: 15rem;
  height: 15rem;
  background-color: white;
  color: black;
}

.schedule-box:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}
